body {
  background: #0f172a;
  color: white;
  text-align: center;
  font-family: Arial;
}

.input-box {
  margin: 20px;
}

textarea {
  width: 300px;
  height: 100px;
  margin: 10px;
}

button {
  padding: 10px;
  margin: 5px;
  background: #1e293b;
  color: white;
  border: none;
  border-radius: 6px;
}

#network {
  width: 800px;
  height: 500px;
  margin: auto;
  border: 2px solid #1e293b;
}
